!!! 5
%html{ :lang => 'en' }
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title= "Hsdraft"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    -#= javascript_include_tag "http://static-hearth.cursecdn.com/current/js/syndication/tt.js"
    = csrf_meta_tags
    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
  %body
    = render "layouts/header"
    = yield
