!!! 5
%html{ :lang => 'en' }
  %head
    %title= "Hsdraft"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "http://static-hearth.cursecdn.com/current/js/syndication/tt.js"
    = csrf_meta_tags
  %body
    = yield
